h1
{
 font-family: arial;
 font-size: 22pt;
 color: white;
}
h2
{
 font-family: arial;
 font-size: 22pt;
 color: white;
}
h3
{
 font-family: arial;
 font-size: 22pt;
 color: white;
}
body
{
  background-color: pink

}

table
{
  background-color: yellow
}
th
{
  background-color: green

}
